html {
  padding: 0 40px;
}
body {
  background: linear-gradient(
    to bottom,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  margin: 0 160px;
}
.container {
  font-family: "Architects Daughter", cursive;
  width: 120%;
  overflow: hidden;
  background-image: url(https://img1.goodfon.com/original/1152x864/c/22/priroda-ozero-reka-utro-par.jpg);
  box-shadow: #7e7f80 0px 10px 10px 5px;
  background-repeat: no-repeat;
}

.quote {
  display: block;
  position: relative;
  top: -400px;
  left: 300px;
  text-align: center;
  color: rgb(10, 9, 9);
  text-shadow: rgb(188, 189, 188) 2px 0 10px;
}
#world {
  display: block;
  position: relative;
  top: -250px;
  left: 350px;
}

form {
  display: block;
  position: relative;
  top: -325px;
  left: 50px;
}
button {
  display: block;
  position: relative;
  top: 15px;
  left: 150px;
  border: rgb(136, 5, 5) 2px solid;
  border-radius: 15px;
  color: rgb(122, 6, 6);
  background-color: rgba(223, 141, 141, 0.7);
  box-shadow: rgb(156, 154, 154) 1px 3px 3px 1px;
}
.col-4 {
  display: block;
  position: relative;
  top: 95px;
  left: 50px;
  text-align: center;
}
.col-2 {
  display: block;
  margin: 10px;
  position: relative;
  bottom: 270px;
  left: 750px;
  border: rgb(136, 5, 5) 2px solid;
  border-radius: 15px;
  color: rgb(122, 6, 6);
  background-color: rgba(223, 141, 141, 0.7);
  box-shadow: rgb(156, 154, 154) 1px 3px 3px 1px;
}
.horisontal {
  border-top: 7px dotted #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 2px;
  position: relative;
  bottom: 280px;
}
.parallel {
  transform: rotate(90deg);
  border-top: 7px dotted #333;
  color: #333;
  overflow: hidden;
  width: 100%;
}
h4 {
  font-size: 28px;
  font-weight: bold;
  text-shadow: rgb(188, 189, 188) 2px 0 10px;
}
h1 {
  font-size: 80px;
  font-weight: bolder;
  text-shadow: rgb(188, 189, 188) 2px 2px 10px;
}
h3 {
  font-size: 55px;
  font-weight: bolder;
  text-shadow: rgb(188, 189, 188) 2px 0 10px;
}
p {
  font-weight: bolder;
  font-size: 18px;
}
.fa-map-marker-alt {
  font-size: 28px;
}
.col-2:hover {
  color: rgb(3, 15, 3);
  border: rgba(224, 224, 221, 0.733) 2px solid;
  background: rgba(199, 156, 156, 0.76);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
p.secondary {
  font-size: 20px;
  position: relative;
  top: 180px;
  color: rgb(189, 179, 179);
  text-shadow: rgb(3, 14, 3) 2px 0 10px;
}
